:root {
    --text-color: #222;
    --white-color: #fff;
}

* {
    border: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.grid__column-1 {
    padding-left: 20px;
    padding-right: 10px;
    width: 8.3334%;
}

.grid__column-9{
    padding-left: 10px;
    padding-right: 10px;
    width: 75%;
}

.grid__column-2 {
    padding-left: 10px;
    padding-right: 10px;
    width: 12%;
}

.gird__column-3 {
    padding-left: 10px;
    padding-right: 10px;
    width: 33.3334%;
}

.grid__column-half {
    width: 50%;
}

.flex-mg-at {
    display: flex;
    margin: auto;
}

.mt-50 {
    margin-top: 50px;
}

.mt-30{
    margin-top: 30px;
}

.mb-43 {
    margin-bottom: 43px;
} 

.mt-40 {
    margin-top: 40px;
}

.mb-58 {
    margin-bottom: 58px;
}
